#container {
    text-align: center;
}

#board > p{
    width: 50px;
}

#board table {
    margin: auto;
    padding-bottom: 15px;
    
}

td {
    border-spacing: 20px;
    border: 1px solid black;
    padding: 10px;
    background-color: #99CCFF;
    font-weight: bold;
    font-size: 3rem;
    width: 4rem;
}

html{
    background-image: url("/static/WoodBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}

h1 {
    font-size: 3rem;
}

#timer {
    font-size: 2rem;
}

#response {
    font-size: 2rem;
}